---
- name: Playbook for nameserver configuration (bind)
  hosts: nameservers
  poles:
    - ../roles/bertvv.bind
  tasks:
    - name: test
      package:
          name: test
          state: latest
