---
- name: Playbook for nameserver configuration (bind)
  hosts: nameservers
  poles:
    - ../roles/bertvv.bind
  tasks:
    - name: test
      package:
          name: test
          state: latest
    - name: restart test package
      service:
          name: test
          state: restarted
    - name: debug
      msg: "test"
    - name: tester
